# only 1 line variable is allowed
AWS_REGION=
SERVER_INSTANCE_COUNT=
SSH_IP=
SSH_PUBLIC_KEY_PATH=
SSH_PRIVATE_KEY_PATH=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
DATABASE_NAME=
SITE_TITLE=
ADMIN_NAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
USER_NAME=
USER_PASSWORD=
USER_EMAIL=
